@use "/app/styles/variable.scss" as colors;

.resourceInfo {
  height: 100%;
  padding-left: 1rem;
  width: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-out width;

  &.active {
    width: clamp(250px, 30vw, 300px);
    opacity: 1;
    pointer-events: all;
  }

  .body {
    background-color: colors.$light-gray-color;
    height: 100%;
    border-radius: 20px;
    // padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .header {
      padding: 0.3rem 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: colors.$black-color;
      user-select: none;
      padding: 1rem;

      & > div {
        i {
          margin-right: 0.8rem;
          color: colors.$gray-color;
        }

        span {
          display: inline-block;
          max-width: 100px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      & > i {
        font-size: 1.6rem;
        cursor: pointer;
      }
    }

    .scrollable {
      display: flex;
      flex-direction: column;
      overflow: auto;
      height: 100%;
      padding: 0rem 1rem;

      .preview {
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        color: colors.$gray-color;
      }

      .headline {
        font-weight: bold;
        color: colors.$black-color;
        margin-bottom: 0;
      }

      .access {
        .accessWrapper {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          margin: 1rem 0rem;

          .avatar {
            & > div {
              width: 2rem;
              height: 2rem;
              cursor: default;
            }
          }
        }

        .manageAccess {
          margin-top: 2rem;
          margin-bottom: 1rem;
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        & > div {
          margin-bottom: 1rem;
          p {
            margin-bottom: 0px;
            font-size: 0.8rem;
            font-weight: 500;
          }

          span {
            color: colors.$gray-color;
          }
        }
      }
    }
  }
}
