@use "../../styles/variable.scss" as color;

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.search {
		color: color.$text-gray-color;
		display: flex;
		align-items: center;
		cursor: pointer;

		i {
			margin-right: 5px;
			font-weight: bold;
		}

		p {
			background-color: transparent;
			color: color.$text-gray-color;
			padding: 0.5em;
			font-weight: bold;
			margin: 0;
		}
	}

	.avatar__wrapper {
		.img__wrapper {
			padding: 0.2em;
			cursor: pointer;
			border: 1px solid color.$primary-color;
			border-radius: 50%;

			&::after {
				content: none;
			}
		}
		img {
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 50%;
			position: relative;
		}

		.active {
			background-color: color.$primary-color;

			a {
				color: white;
			}
		}
	}

	.notification__wrapper {
		margin-right: 2.5vw;

		i {
			font-size: 1.5rem;
			color: color.$text-gray-color;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				top: 5%;
				width: 10px;
				height: 10px;
				background-color: color.$primary-color;
				border-radius: 50%;
				right: 0;
				border: 1px solid white;
			}
		}
	}
}
