@use "../../styles/variable.scss" as color;

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.search {
		color: color.$text-gray-color;
		display: flex;
		align-items: center;
		cursor: pointer;

		i {
			margin-right: 5px;
			font-weight: bold;
		}

		p {
			background-color: transparent;
			color: color.$text-gray-color;
			padding: 0.5em;
			font-weight: bold;
			margin: 0;
		}
	}

	.avatar__wrapper {
		.img__wrapper {
			padding: 0.2em;
			cursor: pointer;
			border: 1px solid color.$primary-color;
			border-radius: 50%;

			&::after {
				content: none;
			}
		}
		img {
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 50%;
			position: relative;
		}

		.active {
			background-color: color.$primary-color;

			a {
				color: white;
			}
		}
	}

	.notification__wrapper {
		margin-right: 2.5vw;
		$layoutPadding: 0.4rem 1rem;

		.bellIcon {
			font-size: 1.5rem;
			color: color.$text-gray-color;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				top: 5%;
				width: 10px;
				height: 10px;
				background-color: color.$primary-color;
				border-radius: 50%;
				right: 0;
				border: 1px solid white;
			}
		}
		.notificationBody {
			min-width: 400px;
			max-height: 300px;
			padding: 0.5rem 0rem;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;

			.notificationHead {
				display: flex;
				align-items: center;
				border-bottom: 1px solid rgba(color.$gray-color, 0.1);
				padding: $layoutPadding;

				h4 {
					font-size: 1.2rem;
					margin-bottom: 0;
					font-weight: bold;
				}

				span {
					display: inline-block;
					margin: 0.5rem;
					background-color: color.$primary-color;
					color: white;
					border-radius: 50%;
					width: 1.5em;
					height: 1.5em;
					text-align: center;
					line-height: 1.5em;
					font-weight: light;
				}
			}

			.notifications {
				width: 100%;
				overflow: auto;

				.messages {
					width: 100%;
					padding: $layoutPadding;
					display: flex;
					align-items: center;
					gap: 10px;

					span {
						font-size: 0.8rem;
						color: color.$gray-color1;
					}

					.description {
						font-size: 0.9rem;
						display: flex;
						flex-direction: column;
						flex: 1;
						p {
							margin-bottom: 0;
							font-weight: 500;
						}
					}

					.action {
						display: flex;
						flex-direction: column;

						i {
							align-self: flex-end;
							font-size: 1.3rem;
						}
					}
				}
			}

			.notificationFooter {
				text-align: center;
				text-decoration: underline;
				color: color.$primary-color;
			}
		}
	}
}
