.modal {
	.dialog {
		.content {
			border-radius: 20px;

			.body {
				padding: 1.2rem 2rem;

				.submit {
					width: 100%;
					max-width: 70px;
				}
			}
		}
	}
}

.modalButton {
	border: none;
	width: 100%;
	background-color: transparent;
}
