.loginPage {
	width: 100%;
	height: 100vh;
	height: 100svh;
	overflow: hidden;

	display: flex;
	justify-content: center;
	background: linear-gradient(
		166deg,
		rgba(186, 156, 255, 0.1) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	animation: glowBackground 2s ease-in-out forwards;

	.container {
		width: calc(100% - 20%);
		height: 100%;

		.header {
			display: flex;
			padding: 1.5rem 0.5rem;

			& > div {
				display: flex;
				align-items: center;
				gap: 10px;

				h4 {
					margin: 0;
					font-weight: 900;
					line-height: 1.1;
				}
			}
		}

		.flowWrapper {
			display: flex;
			justify-content: center;
			height: 100%;
			padding-top: 8vh;

			img {
				margin-left: -75px;
				z-index: -1;
			}
		}
	}
}

// TODO: background animations
@keyframes glowBackground {
	0% {
		background: linear-gradient(
			166deg,
			rgba(186, 156, 255, 0.1) 0%,
			rgba(255, 255, 255, 0) 100%
		);
	}

	40% {
		background: linear-gradient(
			0deg,
			rgba(186, 156, 255, 0.1) 0%,
			rgba(255, 255, 255, 0) 100%
		);
	}

	60% {
		background: linear-gradient(
			360deg,
			rgba(186, 156, 255, 0.1) 0%,
			rgba(255, 255, 255, 0) 100%
		);
	}
	100% {
		background: linear-gradient(
			166deg,
			rgba(186, 156, 255, 1) 0%,
			rgba(255, 255, 255, 0) 100%
		);
	}
}
