@use "/app/styles/variable.scss" as color;

%commonStyle {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  filter: blur(5rem);
}

@mixin animate($maxScale: 1.4) {
  @keyframes animateScale {
    0% {
      transform: scale(0.9);
    }

    50% {
      transform: scale($maxScale);
    }

    100% {
      transform: scale(0.9);
    }
  }
}

.loginPage {
  width: 100%;
  //   height: 100vh;
  height: 100dvh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  position: relative;

  &::after {
    @extend %commonStyle;
    $top: 15%;
    $left: 18%;
    top: $top;
    left: $left;
    width: 20vw;
    background: linear-gradient(
      90deg,
      rgba(color.$primary-color, 0.6) 0%,
      rgba(white, 0) 100%
    );
    animation: animateScale 2.5s ease-in-out infinite;
  }

  &::before {
    @extend %commonStyle;
    $top: 50%;
    $left: 40%;
    top: $top;
    left: $left;
    width: 20vw;
    background: linear-gradient(
      90deg,
      rgba(color.$light-brown1, 1) 0%,
      rgba(white, 0) 100%
    );
    animation: animateScale 3s ease-in-out infinite;
    animation-delay: 0.3s;
  }

  .container {
    width: calc(100% - 20%);
    height: 100%;
    display: flex;
    flex-direction: column;

    .flowWrapper {
      display: flex;
      justify-content: center;
      height: 100%;
      padding-top: 8vh;
      opacity: 1;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 1;
        background-color: white;
        filter: blur(10rem);
        animation: fadeIn 2.5s ease-out forwards;
      }

      img {
        margin-left: -75px;
        z-index: -1;
      }
    }
  }
}

.header {
  display: flex;
  padding: 1.5rem 0.5rem;

  & > div {
    display: flex;
    align-items: center;
    gap: 10px;

    h4 {
      margin: 0;
      font-weight: 900;
      line-height: 1.1;
    }
  }
}

@include animate();

@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 899px) {
  .loginPage {
    &::before {
      @extend %commonStyle;
      $top: 80%;
      $left: 80%;
      top: $top;
      left: $left;
    }
    .container {
      .flowWrapper {
        & > img {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: color.$mobile-large) {
  .loginPage {
    // padding: 0rem 1rem;
    .container {
      width: 100%;

      .flowWrapper {
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 0;
        align-items: center;

        & > img {
          display: block;
          height: 40%;
          margin: 0px;
        }
      }
    }
  }
}
