@use "./screen.module.scss" as screens;

// screen sizes

$extraLarge: 1023px;
$Large: 891px;
$semi-tablet: 992px;
$tablet: #{screens.$tablet-start}px;
$mobile-large: #{screens.$large-mobile-start}px;
$mobile-medium: 375px;
$mobile-small: #{screens.$small-mobile-start}px;
