$primary-color: #6a29ff;
$secondary-color: #ffffff;
$light-gray-color: #f5f8fe;
$light-primary-color: #f9f7fe;
$violet-color: #8652ff;
$text-gray-color: #99a3c2;
$icon-color: #c0bfed;
$black-color: #202022;
$gray-color: #5F6368;
