$primary-color: #6a29ff;
$light-brown: #feece2;
$light-brown1: #ffbe98;
$secondary-color: #ffffff;
$light-primary-color: #f9f7fe;
$violet-color: #8652ff;
$light-blue: #387adf;
$blue: #1d24ca;
$text-gray-color: #99a3c2;
$icon-color: #c0bfed;
$black-color: #202022;
$black-color1: #1f1f1f;
$gray-color: #5f6368;
$gray-color1: #e0e0e0;
$light-gray-color: #f5f8fe;
$error: #d84728;
$error1: #ff6868;
