@use "/app/styles/variable.scss" as color;
@use "/app/styles/screen.module.scss" as screen;
@use "/app/components/body/components/modals/rename/style.module.scss" as
	renameModalStyle;

.layout {
	display: flex;
	flex-direction: column;
	height: 100%;

	header {
		button {
			border: 2px solid transparent;
			background: transparent;
			font-size: 1.4rem;

			&:active {
				border-color: color.$primary-color;
				border-radius: 6px;
				font-weight: bold;
			}
		}
	}

	.profileImage {
		position: relative;
		min-height: 200px;
		$left: 50%;
		padding: 2rem;
		margin-bottom: 4rem;

		.image {
			left: $left !important;
			top: 50% !important;
			transform: translate(-50%, -50%);
			object-fit: cover;
			width: 200px !important;
			height: 200px !important;
			border-radius: 50%;

			&.error {
				border: 5px solid rgba(color.$error1, 0.8);
				opacity: 0.6;
			}
		}

		label {
			position: absolute;
			bottom: 0;
			left: calc(#{$left} + 5%);
			border: 1px solid transparent;
			box-shadow: 0px 0px 30px rgba(black, 0.2);
			border-radius: 50%;
			background-color: white;
			font-size: 1.5rem;
			width: 1.5em;
			height: 1.5em;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			transition: 0.3s ease box-shadow;

			&:hover {
				box-shadow: 0px 0px 30px rgba(black, 0.5);
			}

			input {
				display: none;
			}

			.loader {
				width: 1em;
				height: 1em;
				font-size: 0.9rem;
			}
		}
	}

	.profileForm {
		height: 100%;
		overflow: auto;
		padding: 0.4rem 0.5rem;

		.body {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: white;
			box-shadow: 0px 0px 5px rgba(black, 0.05);
			padding: 2rem;
			border-radius: 10px;
			margin-bottom: 1rem;

			.inputGroup {
				display: flex;
				flex-direction: column;
				width: 100%;
				max-width: 400px;
				margin-bottom: 1.5rem;

				&.error {
					label {
						color: color.$error1;
					}
				}

				.wrapper {
					width: 100%;

					span {
						font-size: 0.7rem;
						color: color.$error1;

						&::before {
							content: "*";
						}
					}

					input {
						font-size: 0.9rem;
						width: inherit;
					}
				}

				p {
					margin-bottom: 0rem;
					font-size: 1.5rem;
					line-height: -4;
				}

				label {
					font-size: 0.9rem;
					font-weight: bold;
				}
			}

			.inputPasswordGroup {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;

				p {
					margin-bottom: 0rem;
					font-size: 1.5rem;
					line-height: 10px;
				}

				input {
					font-size: 0.9rem;
				}

				label {
					font-size: 0.9rem;
					font-weight: bold;
				}

				button {
					border-radius: 10px;
					background-color: color.$error;
					font-size: 0.8rem;
					color: white;
					cursor: pointer;
				}
			}
		}

		.buttonGroup {
			button {
				&:nth-child(2) {
					background-color: color.$primary-color;
					color: white;
					font-size: 0.7rem;
					border-radius: 10px;
					max-width: 100px;
				}
			}
		}

		.editButton {
			i {
				cursor: pointer;
			}
		}
	}
}

.changePassword {
	@include renameModalStyle.renameStyle;

	h5 {
		small {
			font-size: 0.6rem;
			color: color.$error;
			&::before {
				content: "*";
			}
		}
	}

	label {
		width: 100%;
		margin-bottom: 1rem;

		display: flex;
		flex-direction: column;

		span {
			font-size: 0.9rem;
			font-weight: bold;
			margin-bottom: 0.2rem;
		}
	}

	.buttonGroup {
		button {
			width: fit-content;
			width: 100px;
			height: 2.5rem;
		}
	}
}

@media screen and (max-width: #{screen.$large-mobile-start}px) {
	.layout {
		.profileImage {
			.image {
				width: 150px !important;
				height: 150px !important;
			}

			label {
				font-size: 1rem;
				width: 1.5em;
				left: 60%;
				height: 1.5em;
				bottom: 20px;
			}
		}

		.profileForm {
			.body {
				padding: 1rem;
				border-radius: 8px;

				.inputGroup {
					margin-bottom: 1rem;
					.wrapper {
						span {
							font-size: 0.6rem;
						}

						input {
							font-size: 0.8rem;
						}
					}

					p {
						font-size: 1rem;
					}

					label {
						font-size: 0.8rem;
					}
				}

				.inputPasswordGroup {
					p {
						font-size: 1rem;
					}

					label {
						font-size: 0.8rem;
					}

					button {
						font-size: 0.6rem;
					}
				}
			}

			.buttonGroup {
				button {
					&:nth-child(2) {
						background-color: color.$primary-color;
						color: white;
						font-size: 0.6rem;
						border-radius: 10px;
						max-width: 100px;
					}
				}
			}
		}
	}
}
