@use "../../styles/variable.scss" as color;

.sidebar {
	padding: 2rem 1rem;

	.sidebar__brand {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 4rem;
		font-size: 1.2rem;

		.brand__logo {
			background-color: color.$primary-color;
			color: color.$secondary-color;
			width: 2em;
			height: 2em;
			border-radius: 10px;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		.brand__name {
			margin: 0;
			font-weight: bold;
			margin-left: 0.6rem;
		}
	}
}
