@use "../../components/body/components/resources/style.module.scss" as fileClass;

.bin {
	padding-top: 0.5rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	h1 {
		font-weight: 900;
	}

	.tableWrapper {
		margin-top: 4rem;
		overflow: auto;
	}

	.owner {
		@include fileClass.tableOwner;
	}
}
