@use "/app/styles/variable.scss" as const;

.alert {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.icon {
		font-size: 3rem;
		width: 2em;
		height: 2em;
		background-color: const.$primary-color;
		color: white;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;

		&:global(.success) {
			background-color: const.$primary-color;
		}

		&:global(.error) {
			background-color: const.$error;
		}

		&:global(.warning) {
			background-color: const.$light-brown1;
		}
	}

	p {
		color: const.$gray-color;
		margin: 2rem 0rem;
	}
}
