@use "./styles/variable.scss" as color;

.appLayout {
	min-height: inherit;

	.wrapper {
		min-height: inherit;

		.sidebar__wrapper {
			max-width: 300px;
		}

		.body__wrapper {
			flex: 1;
			padding: 2rem;
			max-height: 100vh;

			.body {
				background-color: color.$light-gray-color;
				height: 100%;
				border-radius: 20px;
				overflow: hidden;
				padding: 2rem;
				display: flex;
				flex-direction: column;
			}
		}
	}
}
