.home {
	min-height: inherit;

	.home__wrapper {
		min-height: inherit;

		.sidebar__wrapper {
			max-width: 300px;
		}

		.body__wrapper {
			flex: 1;
			padding: 2rem;
			max-height: 100vh;
		}
	}
}
