@use "/app/styles/variable.scss" as color;

.resetPassword {
	width: 100%;
	height: 100vh;
	height: 100svh;
	overflow: hidden;

	display: flex;
	justify-content: center;
	position: relative;

	.container {
		width: calc(100% - 20%);
		height: 100%;

		.wrapper {
			display: flex;
			flex-direction: column;
			height: 100%;
			padding-top: 8vh;
			width: 100%;
			align-items: center;

			.form {
				width: 100%;
				max-width: 500px;

				h2 {
					line-height: 1.1;
					margin: 0;
				}

				& > span {
					display: inline-block;
					width: 100%;
					color: rgba(color.$gray-color, 0.5);
					font-size: 0.8rem;
				}

				.input {
					margin-bottom: 2rem;
				}

				button {
					width: 100%;
					border-radius: 10px;
					padding: 0.5rem;
					background-color: black;
					color: white;

					&:is(:active) {
						background-color: rgba(black, 0.8);
					}
				}
			}

			.resetSuccess {
				width: 100%;
				max-width: 400px;

				h4 {
					margin-bottom: 2rem;
					text-align: center;
				}

				p {
					text-align: center;
					font-size: 0.8rem;
					color: rgba(color.$gray-color, 0.7);
					margin-bottom: 1.4rem;
				}
				animation: onLoad 0.3s ease-in forwards;
				transform: translate(0%, 80%) scale(0);
				opacity: 0;
			}
		}
	}
}

@keyframes onLoad {
	0% {
		transform: translate(0%, 80%) scale(0);
		opacity: 0;
	}

	100% {
		transform: translate(0%, 0%) scale(1);
		opacity: 1;
	}
}
