<html>
	<head>
		<title>Getting Started</title>
	</head>
	<body>
		<div>
			<h3>Signup details</h3>
			<p>Hello, {{name}}</p>
			<p>Username: {{username}}</p>
			<p>Username: {{password}}</p>
		</div>
	</body>
</html>