@use "../../../../styles/variable.scss" as color;
@use "/app/styles/screen.module.scss" as screen;

.sidebar__navigation {
	padding: 1rem 0rem;

	.navRoute {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0.9em 1.6em;
		border-radius: 10px;
		font-size: 1.1rem;
		text-decoration: none;
		color: color.$text-gray-color;
		margin-bottom: 15px;
		transition: 0.3s all ease-in-out;

		&:hover {
			color: color.$primary-color;
			.navRoute__icon {
				color: color.$primary-color !important;
			}
		}

		&.active {
			background-color: color.$light-primary-color;
			font-weight: 500;
			margin-bottom: 20px;
			color: color.$primary-color;

			.navRoute__icon {
				color: color.$primary-color !important;
			}
		}

		.navRoute__icon {
			font-size: inherit;
			margin-right: 10px;
			color: color.$icon-color;
		}

		.navRoute__label {
			font-size: inherit;
		}
	}
}

@media screen and (max-width: #{screen.$large-mobile-start}px) {
	.sidebar__navigation {
		.navRoute {
			padding: 0.9em 1em;
			border-radius: 10px;
			font-size: 1rem;
		}
	}
}
