@use "../../../../styles/variable.scss" as color;

.filesAndFolders {
	margin-top: 3rem;
	overflow: auto;
	max-height: calc(100vh - 50%);
	padding-right: 10px;

	h6 {
		color: color.$black-color;
		margin: 15px 0px;
	}

	.folders {
		.folderContainer {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			grid-auto-rows: 50px;
			column-count: auto;
			gap: 10px;

			.skeleton {
				width: 100%;
				background-color: white;
				margin-right: 10px;
				border-radius: 10px;
				padding: 0.2rem 1rem;
				display: flex;
				align-items: center;
				box-shadow: 0px 0px 30px rgba(black, 0.1);
				justify-content: space-between;

				.label {
					overflow: hidden;

					i {
						margin-right: 10px;
						color: color.$gray-color;
					}

					p {
						white-space: nowrap;
						margin-bottom: 0;
						text-overflow: ellipsis;
						color: color.$black-color;
						overflow: hidden;
					}
				}

				.dropdown {
					.dropdownItem {
						cursor: pointer;

						&::after {
							content: none;
						}
					}

					li {
						cursor: pointer;
						i {
							margin-right: 10px;
							color: color.$gray-color;
						}
					}
				}
			}
		}
	}

	.files {
		.filesContainer {
			margin-top: 10px;
		}
	}
}


