@use "../../styles/variable.scss" as color;

.table {
  width: 100%;
  $padding: 10px 10px;
  position: relative;

  table {
    width: 100%;

    thead {
      th {
        font-weight: 500;
        color: color.$text-gray-color;
        padding: $padding;
        border-bottom: 1px solid rgba(color.$text-gray-color, 0.1);
      }
    }

    tbody {
      tr {
        border-bottom: 2px solid transparent;
        transition: 0.2s ease-in;
        transition-property: background-color, border-color;

        &.selectable {
          &:hover {
            cursor: pointer;
            background-color: rgba(black, 0.05);
          }
        }

        th {
          padding: $padding;
          color: color.$black-color;
        }

        td {
          padding: $padding;
          color: color.$text-gray-color;
          .empty {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .emptyImage {
              width: 200px;
            }
          }
        }

        &.active {
          border-color: color.$icon-color;
          background-color: rgba(black, 0.05);
        }
      }
    }
  }

  .skelton {
    margin: 10px 0px;

    td {
      padding: 0px;
      padding-right: 10px;
      padding-bottom: 10px;

      div {
        background-color: #ebecec;
        background-image: linear-gradient(
          90deg,
          rgba(#fff, 0),
          rgba(#fff, 0.5),
          rgba(#fff, 0)
        );
        background-size: 40px 100%; // width of the shine
        background-repeat: no-repeat;
        background-position: left -40px top 0;
        animation: shine 1s ease infinite;
        border-radius: 4px;
        height: 20px;
        width: 100%;
      }
    }
  }
}

.columnHandler {
  display: flex;
  align-items: center;
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  strong {
    font-size: 0.95rem;
  }
}

.fullTableLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: rgba(black, 0.5);
  border-radius: 10px;
  cursor: wait;

  & > * {
    pointer-events: none;
  }
}

@keyframes shine {
  to {
    // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
    background-position: right -40px top 0;
  }
}
